{% extends 'DB/base.html' %}
{% load render_table from django_tables2 %}
z
{% render_table table %}
{% block content %}



<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr><th>Project_No</th><td>{{Project.Project_No}}</td></tr>
<tr><th>description</th><td>{{Project.description}}</td></tr>
<tr><th>run_start_date</th><td>{{Project.run_start_date}}</td></tr>
<tr><th>run_ID</th><td>{{Project.run_ID}}</td></tr>
<tr><th>instrument</th><td>{{Project.instrument}}</td></tr>
<tr><th>run_type</th><td>{{Project.run_type}}</td></tr>
<tr><th>flowcell</th><td>{{Project.flowcell}}</td></tr>
<tr><th>mean_cluster_density</th><td>{{Project.mean_cluster_density}}</td></tr>
<tr><th>clusters_PF</th><td>{{Project.clusters_PF}}</td></tr>
<tr><th>RT_yield_GB</th><td>{{Project.RT_yield_GB}}</td></tr>
<tr><th>indexed_reads</th><td>{{Project.indexed_reads}}</td></tr>
<tr><th>demux_yield_GB</th><td>{{Project.demux_yield_GB}}</td></tr>
<tr><th>bases_Q30</th><td>{{Project.bases_Q30}}</td></tr>
<tr><th>raw_demux_yield_ratio</th><td>{{Project.raw_demux_yield_ratio}}</td></tr>
<tr><th>Pass_fail</th><td>{{Project.Pass_fail}}</td></tr>
<tr><th>Notes</th><td>{{Project.Notes}}</td></tr>
</thead>
</table>
</div>

<!doctype html>
<html>
    <head>
        <title>List of samples on this NGS project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% render_table table %}
    </body>
</html>

<br>
<br>




<div id="container" style="width: 75%;">
    <canvas id="bar-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ Percentage_20X_coverage|safe }},
          backgroundColor: [
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
            'deepskyblue',
          ],
          label: 'Percentage 20X coverage'
        }],
        labels: {{ Sample|safe }}
      },
      options: {
        responsive: true,
        legend: {
                position: 'right',
              },

        title: {
                display: true,
                text: 'Percentage of 20X coverage for all samples on this project'
              },


        annotation: {
          annotations: [{
              type: 'line',
              mode: 'horizontal',
              scaleID: 'y-axis-0',
              value: '0.9910',
              borderColor: 'tomato',
              borderWidth: 1
          }],
          drawTime: "afterDraw" // (default)
      }







      }
    };

    window.onload = function() {
      var ctx = document.getElementById('bar-chart').getContext('2d');
      window.myBar = new Chart(ctx, config);
    };

  </script>

{% endblock %}
