{% extends 'DB/base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}

<h2>Search for a project by name or date</h2>
<br>
<p>Search for a projet name or date by typing in the search box and then click the search button.</p>

<form class="SearchView" method="GET" action="" >
    <input class="SearchView" type="search" name="search">
    <button class="SearchView" type="submit"> Search for a sample </button>
</form>
<form class="ResetSearch" method="GET" action="" >
    <button class="ResetSearch" type="submit"> Reset search </button>
</form>

<form class="DateSearchBox" method="GET" action="" >
    <input class="DateSearchBox" type="date_search" name="date_search">
    <button class="DateSearchBox" type="submit"> Search for a date </button>
</form>
<form class="ResetSearch" method="GET" action="" >
    <button class="ResetSearch" type="submit"> Reset search </button>
</form>


<!doctype html>
<html>
    <head>
        <title>List of persons</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% render_table table %}
    </body>
</html>


{% endblock %}
